body {
  background-color: darkgrey;
  /* background-image: url(https://images-na.ssl-images-amazon.com/images/I/B1V%2B-yS4aaS.png); */
  background-image: url('../backgroundImages/bgImage1.jpg');
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.displayContainer {
  background-image: url('../backgroundImages/scoreScroll.jpg');
  background-position: center;
  display: flex;
  opacity: .6;
  margin-right: 30%;
  margin-left: 30%;
  height: 150px;
  justify-content: center;
  font-size: 3.5em;
  border-radius: 25px;
}
#rounds {
  display: block;
}
#turn {
  display: block;
}
.buyAndEnd {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#buy {
  background-color: rgba(0,51,51,0.8);
  color: orange;
  height: 100px;
  width: 100px;
  border-radius: 75%;
  text-align: center;
  margin-bottom: 20px;
  border: 4px rgba(164,153,150,0.79);
  border-style: solid;
}
#endTurn {
  background-color: rgba(0,0,51,0.8);
  color: orange;
  height: 75px;
  width: 75px;
  border-radius: 75%;
  margin-top: 20px;
  border: 4px rgba(164,153,150,0.79);
  border-style: dotted dashed;
}
.buttonsContainer {
  display: flex;
  width: auto;
  height: 400px;
  justify-content: space-between;

}
.actionButtons {
  display: flex;
  padding: 45px;
  margin: 10px;
  border-radius: 75%;
  background-color: rgba(51,0,51,0.9);
  color: orange;
  /* flex-basis: 150px;
  flex-grow: 1; */
}
#red {
  padding: 47px;
  height: 125px;
  width: 125px;
  display: flex;
  align-self: flex-start;
  border: 4px rgba(164,153,150,0.79);
  border-style: dashed solid;
}
#blue {
  padding: 45px;
  height: 125px;
  width: 125px;
  display: flex;
  align-self: flex-end;
  border: 4px rgba(164,153,150,0.79);
  border-style: dashed solid;
}
#green {
  padding: 40px;
  height: 125px;
  width: 125px;
  display: flex;
  align-self: flex-end;
  border: 4px rgba(164,153,150,0.79);
  border-style: dashed solid;
}
#random {
  padding: 37px;
  height: 125px;
  width: 125px;
  display: flex;
  align-self: flex-start;
  border: 4px rgba(164,153,150,0.79);
  border-style: dashed solid;
}
.leftAside {
  background-image: url('../backgroundImages/poolImage.jpg');
  background-position: center;
  display: flex;
  width: 215px;
  background-color: rgba(254, 255, 251, 0.76);
  font-size: 3em;
  margin-left: 30px;
  text-align:justify;
  color: crimson;
  border-radius: 25px;
  padding: 20px;
  opacity: 0.6;
}
.rightAside {
  background-image: url('../backgroundImages/poolImage.jpg');
  background-position: center;
  display: flex;
  width: 215px;
  background-color: rgba(254, 255, 251, 0.76);
  font-size: 3em;
  margin-right: 30px;
  text-align:justify;
  color: royalblue;
  border-radius: 25px;
  padding: 20px;
  opacity: 0.6;
}
/* .buttons { */
  /* color: rgb(255, 42, 254); font-size: 22px; line-height: 22px; padding: 11px; border-radius: 30px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: radial-gradient(at center center, rgb(255, 60, 118) 0%, rgb(29, 80, 203) 89%, rgb(117, 40, 95) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 18px 15px; border: 2px ridge rgb(28, 110, 164); display: inline-block;}
  buttons:hover {
  background: #FF3C76; }
  .buttons:active {
  background: #75285F; }
  background: #FF3C76;
  background: -moz-radial-gradient(center, #FF3C76 0%, #1D50CB 89%, #75285F 100%);
  background: -webkit-radial-gradient(center, #FF3C76 0%, #1D50CB 89%, #75285F 100%);
  background: radial-gradient(ellipse at center, #FF3C76 0%, #1D50CB 89%, #75285F 100%); */



.submitContainer {
  display: flex;
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .submitFormBox {
    border-color: rgba(93,68,193,0.7);
    border: 6px solid rgba(93,68,193,0.7);
    text-shadow: 1px 2px 2px rgba(93,68,193,0.7);
    box-shadow: 2px 2px 7px 1px rgba(93,68,193,0.7);
    display: flex;
    /* justify-content: flex-end; */
    height: 150px;
    width: 650px;
    margin: 0;
    /* flex-direction: column; */
  }
  #submitForm {
    height: 100px;
    width: 100%;
    display: flex;
    border-radius: 25px;

    /* justify-content: center; */
    margin: 0;
    /* flex-direction: column; */

  }
  #submitBut{
    background-color: steelblue;
    color: white;
    width: 75px;
    margin: 30px 0 0 30px;
    border-radius: 25px;
    border: 5px double rgba(255,255,255,0.79);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.7);
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.7);
  }
  #inputBox {
    background-color: steelblue;
    border: 9px ridge rgba(255,255,255,0.79);
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.7);
    border-radius: 25px;
    width: 410px;
    margin: 30px 0 0 60px;

  }
  /* #inputBox[value] {
    font-size: 1.5em;
} */
  .startButton {
    /* height: 225px;
    width: 200px; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
  }
  #start{
    height: 125px;
    width: 125px;
    display: flex;
    align-self: flex-end;
    border-radius: 75%;
    text-align: center;
    border: 3px dotted;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.7);
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.7);


  }
  .winScreenContainer{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }
  .winContainer {
    padding: 37px;
    width: auto;
    display: flex;
    flex-direction: column;
    border: 4px rgba(164,153,150,0.79);
    align-content: center;
    font-size: 7em;
    color: crimson;

  }
  #newGame {
    background-color: steelblue;
    padding: 37px;
    height: 125px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: flex-start;
    border-radius: 25px;
    border: 4px rgba(164,153,150,0.79);
    border-style: dashed solid;
  }
  .hidden {
    display: none;
    z-index: -1;
  }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: pink;
      font-size: 2em;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: pink;
      font-size: 2em;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: pink;
      font-size: 2em;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: pink;
      font-size: 2em;
    }
